* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cell-width: 150px;
}

body {
    background-color: darkslategrey;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    
}

.square {
    color: rgb(26, 255, 0);
    width: var(--cell-width);
    height: var(--cell-width);
    border: solid 3px rgb(26, 255, 0);
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:first-child,
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-bottom: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
}
