@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cell-width: 150px;
    --symbol-height: calc(var(--cell-width)*0.9);
    --green: rgb(26, 255, 0);
}

body {
    background-color: darkslategrey;
    font-family: 'Roboto', sans-serif;
    color: var(--green);
}

header {
    width: 80%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigContainer {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.deletion {
    width: 6px;
    height: 450px;
    background-color: red;
    position: absolute;
    visibility: hidden;
    
}

.square {
    color: var(--green);
    width: var(--cell-width);
    height: var(--cell-width);
    border: solid 3px  var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: var(--symbol-height);
    cursor: pointer;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
    box-shadow: none;
}

.square:first-child,
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
    box-shadow: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-bottom: none;
    box-shadow: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
    box-shadow: none;
}

.box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.x {
    position: absolute;
    height: var(--symbol-height);
    width: calc(var(--symbol-height)*0.075);
    background-color: var(--green);
    box-shadow:  0 0 3px var(--green), 0 0 6px yellow;
}

.x1 {
    rotate: 45deg;
}
.x2 {
    rotate: -45deg;
}

.circle {
    width: calc(var(--symbol-height)*0.825);
    height: calc(var(--symbol-height)*0.825);
    border: solid calc(var(--symbol-height)*0.075) var(--green);
    border-radius: 50%;
    box-shadow:  0 0 3px var(--green), 0 0 6px yellow;
}

.test {
    font-size: 50px;
    font-weight: 800;
    text-shadow: 0 0 3px var(--green), 0 0 6px yellow;
}




